/* .detallePacienteDiv{
   margin-bottom: 300px;
} */
.card{
    margin-top: 0px;
    padding: 11px;
    box-shadow: 1px 1px 1px  ;
}

.p-datatable-header{
    background-color: rgba(151, 161, 161, 0.178) !important;
}

.FactDetail{
    background-color: red !important;
    display: none;
}